*.bat
*.cachefile
*.dll
*.pdb
*.png
*.shfb
*.swp
*.suo
*.user
*.vspscc
*.vssscc

asvo/bin/
asvo/Content/obj/
asvo/obj/

html/

XNAnimation/XNAnimation/bin/
XNAnimation/XNAnimation/obj/
XNAnimation/XNAnimationPipeline/bin/
XNAnimation/XNAnimationPipeline/obj/
